/* Theme palette

background-color: #a62323
background-color: #701818
background-color: #994d1f

*/

/* Skilt palette

background-color: #fff;
background-color: #282836;

*/

*,
*::after,
*::before {
  margin: 0 auto;
  padding: 0;
}

img {
  position: absolute;
}

.html {
  font-size: 62.5%; /*10 px*/
}

.stoppskiltStorTekst {
  color: white;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Archivo", sans-serif;
}

.stoppskiltLitenTekst {
  color: rgb(40, 40, 54);
  font-size: 7.5px;
  text-align: center;
  font-family: "Archivo", sans-serif;
}

.container {
  width: 1024px;
  height: 768px;
  background-color: #3d1cb3;
  position: relative;
  overflow: hidden;
}

.objektJord {
  position: absolute;
  width: 100%;
  height: 70%;
  background-color: #c28560;
  bottom: 0;
  z-index: 1;
}

.objektSpor2 {
  width: 100%;
  height: 5%;
  bottom: 20px;
  background-color: slategrey;
  position: absolute;
}

.objektStoppskiltMain {
  bottom: 6em;
  left: 40%;
  width: 15%;
  height: 5%;
  background-color: rgb(40, 40, 54);
  position: absolute;
  z-index: 3;
}

.objektStoppskiltSub {
  width: 100%;
  height: 20%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.huleBilde {
  top: -50px;
  right: 45px;
  width: 100px;
  height: 100px;
}

.konsertBilde {
  right: 40%;
  top: -100px;
}

.objektSol {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: yellow;
  right: 50%;
  top: 10px;
}

.gressKlipperContainer {
  animation: gressKlipperBeveg 10s linear infinite;
}

.gressKlipperBilde {
  top: 200px;
  z-index: 3;
}

.gressKlipperHjulBilde {
  top: 295px;
  left: 100px;
  animation: gressKlipperHjulAnim 10s linear infinite;
  z-index: 3;
}

.gressKlipperHjulBilde2 {
  top: 295px;
  left: 50px;
  animation: gressKlipperHjulAnim 10s linear infinite;
  z-index: 3;
}

.mammutBilde {
  top: 100px;
  left: 100px;
  z-index: 0;
  animation: mammutRidderBeveg 20s linear infinite;
}

.lavvoBilde {
  height: 150px;
  right: 120px;
  top: 5px;
  z-index: -1;
}

.butikkBilde {
  bottom: 100px;
  right: 20px;
  z-index: 3;
}

.butikkBilde2 {
  bottom: 110px;
  right: 20px;
  z-index: 3;
}

.butikkAnsatt {
  bottom: 110px;
  right: 80px;
  width: 100px;
  height: 100px;
  transition: 5s;
  z-index: 3;
}

.butikkAnsatt:hover {
  bottom: 180px;
  right: 80px;
  width: 100px;
  height: 100px;
  transition: 5s;
}

.skyerBilde {
  top: 0;
  animation: skyerBeveg 10s linear infinite;
}

.søppelSamling {
  width: 130px;
  height: 130px;
  left: 100px;
}

.konsertPublikum {
  width: 100px;
  right: 530px;
}

.konsertPublikum2 {
  width: 100px;
  right: 420px;
}

.konsertPublikum3 {
  top: 9px;
  width: 120px;
  right: 390px;
}

.konsertPublikum4 {
  top: 20px;
  width: 150px;
  right: 480px;
}

@keyframes gressKlipperHjulAnim {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes gressKlipperBeveg {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(300px);
  }
  0% {
    transform: translateX(0%);
  }
}

@keyframes mammutRidderBeveg {
  0% {
    left: 1100px;
  }
  100% {
    left: -900px;
  }
}

@keyframes skyerBeveg {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translate(10px);
  }
  100% {
    transform: translate(0);
  }
}
