#tbaneWrapper {
    position: static;
    bottom: 0;
}

#tbaneWrapper * {
    position: absolute;
}


#tbaneOgSkinner {
    bottom: 0;
    z-index: 3;
}

#tbane {
    width: 300px;
    height: 300px;
    position: absolute;
    left: -500px;
    bottom: -94px;
    transform: scale(.7);
    animation: tbanBeveg 3s ease-in-out forwards;
}

#vogn {
    height: 170px;
    width: 300px;
    padding-top: 20px;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
}

#tbaneSplit {
    height: 80px;
    width: 100%;
    background-color: slategrey;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    z-index: 1;
}

#vogn #vinduer {
    position: relative;
    width: 270px;
    height: 130px;
    margin: auto;
    text-align: center;
    z-index: 2;
}

#vogn .vindu {
    height: 100%;
    width: 120px;
    background-color: white;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    display: inline-block;
}

#hjulene {
    width: 280px;
    height: 50px;
    margin: auto;
    position: relative;
    text-align: center;
    bottom: -160px;
}

#hjulene .hjul {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    animation: hjulRotasjon 3s linear forwards;
}

#skinneBakgrunn {
    width: 1024px;
    height: 20px;
    background-color: darkslategrey;
    bottom: 0;
    text-align: center;
}

#skinneBakgrunn .trevaerk {
    width: 11px;
    height: 25px;
    background-color: sandybrown;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    top: 3px;
}

#SkinneForgrunn {
    width: 1024px;
    height: 10px;
    background-color: black;
    bottom: 0;
}

@keyframes tbanBeveg {
    from {
        left: -300px;
    }
    to {
        left: 200px;
    }
}

@keyframes hjulRotasjon {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
