    #wrap {
      width: 1024px;
      height: 768px;
      margin: auto;
      background-image: url("bilder/bakgrunn.png");
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      overflow: hidden;
      z-index: 0;
    }

    /* skyene */
    .sky1 {
      top: 80px;
      left: 400px;
      width: 80px;
      position: absolute;
    }

    .sky2 {
      top: 100px;
      left: 600px;
      width: 50px;
      position: absolute;
    }

    .sky3 {
      top: 130px;
      left: 200px;
      width: 60px;
      position: absolute;
    }

    .sky4 {
      top: 150px;
      left: 800px;
      width: 100px;
      position: absolute;
    }

    /* flagget */
    #toppen {
      width: 15px;
      height: 15px;
      left: 698px;
      top: 350px;
      background-color: white;
      position: absolute;
      border-radius: 50%;
      z-index: 2;
    }

    #stang {
      height: 200px;
      width: 10px;
      background-color: white;
      margin-left: 700px;
      margin-top: 360px;
      position: absolute;
      z-index: 2;
    }

    #bunnen {
      width: 50px;
      height: 50px;
      background-color: white;
      margin-left: 680px;
      margin-top: 560px;
      position: absolute;
      z-index: 3;
    }

    #flagg {
      left: 710px;
      top: 500px;
      position: absolute;
      animation: flaggMove 7s ease forwards;
      z-index: 2;
    }

    @keyframes flaggMove {
      0% {
        left: 710px;
        top: 500px;
      }

      100% {
        left: 710px;
        top: 360px;
      }
    }

    /* bygningen */
    #hus {
      height: 300px;
      width: 400px;
      position: absolute;
      z-index: 1;
      background-color: grey;
      left: 400px;
      top: 300px;
    }

    #dor {
      background-color: brown;
      width: 30px;
      height: 50px;
      position: absolute;
      bottom: 0px;
      left: 20px;
    }

    #bygningskilt {
      background-color: grey;
      margin: auto;
      top: 100px;
      height: 50px;
      width: 200px;
      text-align: center;
      font-family: arial;
      color: white;
    }

    #gjerde {
      left: 750px;
      top: 550px;
      position: absolute;
    }

    /* tanks animation */
    #tanks {
      top: 442px;
      position: absolute;
      animation: tanksKjøre 10s infinite;
    }

    @keyframes tanksKjøre {
      0% {
        top: 442px;
        left: 0px;
        transform: rotateY(0deg);
      }

      25% {
        top: 442px;
        left: 200px;
        transform: rotateY(0deg);
      }

      50% {
        top: 442px;
        left: 200px;
        transform: rotateY(180deg);
      }

      75% {
        top: 442px;
        left: 0px;
        transform: rotateY(180deg);
      }

      100% {
        top: 442px;
        left: 0px;
        transform: rotateY(0deg);
      }
    }

    #adgangSkilt {
      width: 200px;
      height: 200px;
      background-color: #708090;
      left: 500px;
      top: 400px;
      position: absolute;
      text-align: center;
      font-family: arial;
      z-index: 2;
    }

    #tekst {
      width: 155px;
      height: 55px;
      background-color: white;
      border-radius: 10%;
      margin: auto;
      left: 2px;
      top: 2px;
      position: absolute;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: arial;
    }

    #person {
      left: 450px;
      top: 515px;
      position: absolute;
      z-index: 5;
    }

    .snakkeboble {
      width: 200px;
      height: 100px;
      background-color: black;
      position: absolute;
      border-radius: 10%;
      border-color: black;
      z-index: 4;
      top: -80px;
      left: 60px;
      opacity: 0;
    }

    #person:hover .snakkeboble {
      transition: 2s;
      opacity: 1;
    }

    #vei {
      background-color: #454545;
      width: 1024px;
      height: 150px;
      position: absolute;
      top: 600px;
    }
