html, body {
    background-color: rgb(80,80,80);
}
* {
    margin: 0 auto;  
    padding: 0;
}

#wrapper {
    position: relative;
    width: 1240px;
    height: 768px;
    background-color: rgb(0,100,100);
    overflow: hidden;
}
#wrapper * {
    position: absolute;
}

#tbaneOgSkinner {
    width: 1240px;
    height: 244px;
    background-color: transparent;
    bottom: 0;
}
#tbane {
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
    left: 0;
    animation: tbaneAnimasjon 30s ease-out infinite;
}
#vogn {
    height: 170px;
    width: 300px;
    padding-top: 20px;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    z-index: 5;
}
#tbaneSplit {
    height: 80px;
    width: 100%;
    background-color: slategrey;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    z-index: 1;
}
#vogn #vinduer {
    position: relative;
    width: 270px;
    height: 120px;
    margin: auto;
    text-align: center;
    z-index: 2;
}
#vogn .vindu {
    height: 100%;
    width: 120px;
    background-color: white;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    display: inline-block;
}
#hjulene {
    width: 280px;
    height: 50px;
    margin: auto;
    position: relative;
    text-align: center;
    top: 170px;
}
#hjulene .hjul {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    animation: hjulAnimasjoner 30s ease-out infinite;
}


#skinneBakgrunn {
    width: 100%;
    height: 30px;
    background-color: darkslategrey;
    bottom: 10px;
    text-align: center;
}
#skinneBakgrunn .trevaerk {
    width: 11px;
    height: 25px;
    background-color: sandybrown;
    position: relative;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    top: 3px;
}
#skinneForgrunn {
    width: 100%;
    height: 30px;
    background-color: black;;
    bottom: 0;
}

#platform {
    position: absolute !important;
    height: 150px;
    width: 1500px;
    left: 0;
    bottom: 0; 
    background-color: rgb(50,50,50); 
}

#trappRamme {
    height: 400px;
    width: 600px;
    background-color: black;
    bottom: 150px;
    left: 350px;
    z-index: 0;
}
#trinn1 {
    height: 20px;
    width: 550px;
    background-color: gray;
    left: 25px;
    outline: 1px solid blue;
    bottom: 0;
}
#trinn2 {
    height: 20px;
    width: 550px;
    background-color: gray;
    left: 25px;
    outline: 1px solid blue;
    bottom: 20px;
}
#trinn3 {
    height: 20px;
    width: 550px;
    background-color: gray;
    left: 25px;
    outline: 1px solid blue;
    bottom: 40px;
}
#trinn4 {
    height: 20px;
    width: 550px;
    background-color: gray;
    left: 25px;
    outline: 1px solid blue;
    bottom: 60px;
}

#gasmaske {
    height: 30px;
    left: 1030px;
    bottom: 224px;
}

#fyr {
    height: 150px;
    left: 250px;
    bottom: 137px;
    z-index: 1;
}
#beboer {
    height: 150px;
    left: 210px;
    bottom: 149px;
}
#box {
    height: 80px;
    left: 980px;
    bottom: 149px;
}
#rotte {
    height: 30px;
    bottom: 145px;
    left: -100px;
    animation: rotteAnimasjon 10s 3s linear infinite;
}
#gasLampe {
    height: 70px;
    left: 980px;
    bottom: 223px;
}

@keyframes rotteAnimasjon {
    0% {
        left: -100px;
    } 100% {
        left: 1500px;
    }
}
@keyframes tbaneAnimasjon {
    0%, 100% {
        left: -1000px;
    } 50% {
        left: 1000px;
    }
}
@keyframes hjulAnimasjoner {
    0%, 100% {
        transform: rotate(-360deg);
    } 50% {
        transform: rotate(360deg);
    }
}








