/* Theme palette

background-color: #a62323
background-color: #701818
background-color: #994d1f

*/

/* Skilt palette

background-color: #fff;
background-color: #282836;

*/

*,
*::after,
*::before {
    margin: 0 auto;
    padding: 0;
}

.stoppskiltStorTekst {
    color: white;
    font-size: 1.2em;
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.1em;
    font-family: 'Archivo', sans-serif;

}

.stoppskiltLitenTekst {
    color: rgb(40, 40, 54);
    font-size: 0.45em;
    text-align: center;
    font-family: 'Archivo', sans-serif;
}

    /* .container {
        width: 1024px;
        height: 768px;
        position: relative;
        overflow: hidden;
        background-color: black;
    }
 */
.objektStoppskiltMain {
    bottom: 6em;
    left: 40%;
    width: 15%;
    height: 5%;
    background-color: rgb(40, 40, 54);
    position: absolute;
    z-index: 3;
    border: 1px solid black;
}

.objektStoppskiltSub {
    width: 100%;
    height: 20%;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    z-index: 3;
}