html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1024px;
  height: 768px;
}

li {
  list-style: none;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: 10rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #b4b79a;
}

a:hover {
    color: green;
}
a:active {
    color: red;
}
ul {
  text-align: center;
  background-color: #994d1f;
}
